body {
    background: #f2f6ff;
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
}

.nadpis {
    text-align: center;
    color: #4b5ca9;
    margin-bottom: 20px;
    font-size: 3rem;
}

#hrat {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 30px;
    font-size: 1.2rem;
}

.infoBox {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #333;
}

#zapisCasu,
#zapisKroku {
    font-weight: bold;
    color: #4b5ca9;
}

.hraciPole {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;
    justify-content: center;
}

.zavrenaKarta,
.otocenaKarta,
.spravnaKarta {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    background-color: #e0e7ff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.zavrenaKarta:hover {
    transform: scale(1.05);
}

.iconHolder {
    visibility: hidden;
}

.spravnaKarta {
    background-color: #c3f7cb;
    cursor: default;
}

.otocenaKarta .nothing {
    visibility: visible;
}
